
#introTypewriter {
font-size: 24px;
font-weight: 400;
letter-spacing: 7px;
}
.letter:hover {
    font-size: 30px;

}
#cursor {
    font-size: 36px;
    font-weight: 700;
    animation: Blink 0.9s linear 0s infinite;
}

@keyframes Blink {
    0%,100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}